<h2 class="text-blue-material font-bold text-2xl border-b-2 w-full py-4 mb-8">
    Product List
</h2>

<div class="flex">
    <div class="w-10/12">

        <mat-form-field class="w-full">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa el valor buscado" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let product; let i = index"> {{ i + 1 }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let product"> {{ product.name }}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Precio </th>
                <td mat-cell *matCellDef="let product"> {{ product.price }}</td>
            </ng-container>

            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef> Stock </th>
                <td mat-cell *matCellDef="let product"> {{ product.stock }}</td>
            </ng-container>

            <ng-container matColumnDef="deleted">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let product">

                    <button 
                        matMiniFab 
                        class="cursor-pointer text-red-500 hover:text-red-700 transition-colors duration-300 ease-in relative z-20"
                        (click)="deleteProduct(product.id)"
                    >
                        <mat-icon>delete</mat-icon>
                    </button>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns" class="cursor-pointer" (click)="onRowClick(row)"></tr>

        </table>
    </div>
    <div class="w-2/12">
        <div class="bg-blue-material mx-3 h-fit rounded-xl pb-4">
            <p class="text-center mb-4 py-4 font-bold text-blue-material">
                Acciones
            </p>

            <ul class="text-center text-blue-material space-y-2">
                <li>
                    <button mat-button (click)="openCreateModal()">Add Products</button>
                </li>
                <li>
                    <button mat-button (click)="openUpdateModal()">Update Products</button>
                </li>
                <li>
                    <button mat-button (click)="openInputModal(true)">Increment Stock</button>
                </li>
                <li>
                    <button mat-button (click)="openInputModal(false)">Decrement Stock</button>
                </li>
                <li>
                    <button mat-button (click)="deleteProduct(productSelected)">Delete Product</button>
                </li>
            </ul>
        </div>

        @if(productSelected){
            <div class="px-4 mt-3 flex justify-center flex-col gap-4">
                <h1 class="font-bold text-lg border-b-2 text-center">
                    Producto Seleccionado
                </h1>
                <h3 class="text-center mt-2 text-lg">
                    {{ productSelected.name }}
                </h3>
                <button
                    mat-button 
                    (click)="cancelSelect()"
                >
                    Cancelar Selección
                </button>
            </div>
        }
    </div>
</div>

