@import "tailwindcss";

.bg-blue-material {
    background-color: #d7e3ff;
}

.text-blue-material {
    color: #005cbb;
}

.bg-blue-material-hover:hover {
    background-color: #c6d8fa;  
    transition: background-color 300ms ease-in-out;
}